.root {
    --beige-1: #FEFAE0;
    --beige-2: #ECD9B9;
    --beige-3: #DDBB99;

    --brown-1: #DDA15E;
    --brown-2: #C19A6B;
    --brown-3: #552C08;
    --brown-3-fade: #552c0883;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(85, 44, 8, 0.5);
    z-index: 999;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background-color: var(--beige-1);
    padding: 30px;
    width: 260px;
    z-index: 1000;
}

.modal-cont {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
}

.modal-header {
    text-align: center;
    color: var(--brown-3);
    margin: 0;
}

.modal-body {
    text-align: center;
    color: var(--brown-3);
}

.modal-body-input input {
    justify-content: center;
    width: 250px;
    padding: 5px;
    border: 1px solid var(--brown-3);
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: Poppins;
    color: var(--brown-3);
}

.modal-body-input input:focus {
    outline: none;
}

.modal-btn {
    display: flex;
    justify-content: space-between;
}

.modal-cancel {
    background-color: var(--brown-3);
    border-radius: 6px;
    color: white;
    width: 100px;
    font-family: Poppins;
    border-style: none;
    padding: 7px;
    cursor: pointer;
}

.modal-submit {
    background-color: #F4BF44;
    border-radius: 6px;
    color: white;
    width: 100px;
    font-family: Poppins;
    border-style: none;
    padding: 7px;
    cursor: pointer;
}
