:root {
  --beige-1: #FEFAE0;
  --beige-2: #ECD9B9;
  --beige-3: #DDBB99;

  --brown-1: #DDA15E;
  --brown-2: #C19A6B;
  --brown-3: #552C08;
  --brown-3-fade: #552c0883;
}

body {
  margin: 0;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

.App {
  background-color: var(--brown-1);

  padding: 20px;
  font-family: "Poppins", sans-serif;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

.left-component {
  height: calc(100vh - 40px);
  display: grid;
  grid-template-rows: 1fr 99fr;
  gap: 10px;
}

.right-component {
  height: calc(100vh - 40px);
  display: grid;
  grid-template-rows: 4fr 0fr;
}

/* left components */

.logo {
  height: 70px;
}

.guide {
  background-color: var(--beige-1);
  padding: 20px;
  border-radius: 10px;
  color: var(--brown-3);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.guide header {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  margin-bottom: 16px;
}

.guide-content {
  text-align: justify;
  overflow-y: auto;
  padding-right: 15px;
  padding-left: 5px;
}

.note {
  margin-top: 0px;
}

/* Text Editor */
.ProseMirror,
.container {
  background-color: var(--beige-1);
  color: var(--brown-3);
  border-radius: 10px;
  padding: 10px 20px;
}

.editor-cont {
  display: grid;
  grid-template-rows: 157px calc(100dvh - 40px - 157px - 10px);
  gap: 10px;
}

div:has(> .ProseMirror) {
  display: grid;
  grid-template-rows: 1fr;
}

.tiptap.ProseMirror {
  height: calc(100dvh - 40px - 157px - 30px);
  overflow-y: auto;
}

.ProseMirror:focus-visible {
  outline: 0;
}

.tiptap.ProseMirror p {
  line-height: 1;
}

/* Voice Commands */
.voice-cont {
  position: fixed;
  right: 50px;
  bottom: 50px;

  /* circle */
  height: 150px;
  width: 150px;
  border-radius: 150px;
  background-color: white;

  /* center things */
  display: flex;
  justify-content: center;
  align-items: center;

  /* dropshadow */
  filter: drop-shadow(0 4px 12px #A17045);
}

.mic-icon {
  padding: 20px;
  border-radius: 40px;
  border: 0.5px solid var(--brown-3);
  cursor: pointer;
  background-color: var(--beige-1);
}

.mic-icon:hover {
  background-color: var(--beige-2);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--beige-3);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--brown-2);
  border-radius: 20px;
  cursor: pointer;
}

/* Menubar */

.menubar-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
  border: none;
  margin: 5px;
  color: var(--brown-3);
}

.menubar-button:disabled {
  color: var(--brown-3-fade);
}

.menubar-button:hover {
  filter: brightness(0.1);
}

.menubar-container {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-bottom: 10px;
}

.menubar-button-label {
  font-family: "Poppins", sans-serif !important;
  padding-top: 3px;
  font-size: 1em;
}


.vertical-division {
  border-left: 3px solid var(--brown-3);
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}