:root {
  --beige-1: #FEFAE0;
  --beige-2: #ECD9B9;
  --beige-3: #DDBB99;

  --brown-1: #DDA15E;
  --brown-2: #C19A6B;
  --brown-3: #552C08;
  --brown-3-fade: #552c0883;
}

body {
  margin: 0;
}

.App {
  background-color: var(--brown-1);
  min-height: 100vh;

  padding: 0 20px;
  font-family: "Poppins", sans-serif;

  display: flex;
  flex-direction: column;
}

.logo {
  height: 80px;
  margin: 20px 0;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 20px;
}

.guide {
  background-color: var(--beige-1);
  padding: 20px;
  border-radius: 10px;

  width: 20%;
  height: -webkit-fill-available-space;
  color: var(--brown-3);
  margin-right: 10px;
}

.guide header {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}

.guide-content {
  text-align: justify;
}

.content {
  flex-grow: 1;
  border-radius: 10px;
}

/* Text Editor */
.ProseMirror, .container {
  background-color: var(--beige-1);
  color: var(--brown-3);
  border-radius: 10px;
  padding: 10px 20px;
}

.ProseMirror {
  height: 64.5vh;
  overflow-y: auto;
}

.ProseMirror:focus-visible {
  outline: 0;
}


/* Voice Commands */
.voice-cont {
  position: absolute;
  right: 50px;
  bottom: 50px;

  /* circle */
  height: 150px;
  width: 150px;
  border-radius: 150px;
  background-color: white;

  /* center things */
  display: flex;
  justify-content: center;
  align-items: center;

  /* dropshadow */
  filter: drop-shadow(0 4px 12px #A17045);
}

.mic-icon {
  padding: 20px;
  border-radius: 40px;
  border: 0.5px solid var(--brown-3);
  cursor: pointer;
  background-color: var(--beige-1);
}

.mic-icon:hover {
  background-color: var(--beige-2);
}



/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--beige-3);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--brown-2);
  border-radius: 20px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b88c56;
}